<nav class="navbar navbar-expand-md bg-primary bd-navbar" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand d-flex flex-row align-items-center gap-2" [routerLink]="['/']">
      <span>Demo App</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about-us']" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact-us']" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
